# macOS
.DS_Store
.AppleDouble
.Trash
.Trashes
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100

# rime user files
/installation.yaml
/user.yaml
/lua/*.userdb
/lua/input_stats.lua
/lua/sequence.txt
/build
/wanxiang.userdb
/sync
/userdb.db
